<html>
<head>
<head>
<body style="background-color:#fff;">
        <div class="wrapper">
            <div class="container" >
			    <div class="row">
                   <div class="span12">
        		</div>
                     	<br><br>
                     	<h5 style="color: red;font-size: 28px;text-align: center;margin-top:10%;">
                     	<img src="@routes.Assets.at("images/tabImages/authentication.jpg")" class="img-responsive center-block" alt="Image">
                     	<br/>
                     	<div>You're not authorised user, you must <p style="color:green;">logged in!</p></div></h5>
            
       				</div> <!-- span 12 -->
       			</div> <!-- row -->
      		</div> <!-- container -->
 		</div> <!-- wrapper -->
</body>
</head>
</html>
